<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
	<servlet>
		<!-- Adding is the name of the servlet, matched in the servlet and mapping tags -->
		<servlet-name>adding</servlet-name>
		<!-- This links to the Adder servlet file that actually adds the numbers -->
		<servlet-class>com.gmitta.Adder</servlet-class>
	</servlet>
	
	<servlet-mapping>
	<!-- Adding is the name of the servlet, matched in the servlet and mapping tags -->
		<servlet-name>adding</servlet-name>
		<!-- This links to the add action in the index.html -->
		<url-pattern>/add</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<!-- Adding is the name of the servlet, matched in the servlet and mapping tags -->
		<servlet-name>squaring</servlet-name>
		<!-- This links to the Adder servlet file that actually adds the numbers -->
		<servlet-class>com.gmitta.Squarer</servlet-class>
	</servlet>
	
	<servlet-mapping>
	<!-- Adding is the name of the servlet, matched in the servlet and mapping tags -->
		<servlet-name>squaring</servlet-name>
		<!-- This links to the add action in the index.html -->
		<url-pattern>/square</url-pattern>
	</servlet-mapping>
	
</web-app>